
/* SchedulerView all-day area
--------------------------------------------------------------------------------------------------*/

.fc-scheduler-view .fc-day-grid {
  position: relative;
  z-index: 2; /* so the "more.." popover will be over the time grid */
}

.fc-scheduler-view .fc-day-grid .fc-row {
  min-height: 3em; /* all-day section will never get shorter than this */
}

.fc-scheduler-view .fc-day-grid .fc-row .fc-content-skeleton {
  padding-bottom: 1em; /* give space underneath events for clicking/selecting days */
}

.fc-event-blockout {
  width: 100%;
}

.fc-event-service {
  width: 24px;
}
